{% extends "layout.html" %}

{% block title %}
    Buy Stock
{% endblock %}

{% block main %}
    <h2 class="display-6">Buy Stock</h2>
    <div class="container">
        <form action="/buy" method="post" class="row gx-2 gy-2 align-items-center justify-content-center" >
            <div class="col-sm-2">
                <input id="symbol" class="form-control" type="text" name="symbol" placeholder="Select Stock">
            </div>
            <div class="col-sm-2">
                <input id="shares" class="form-control type="text" name="shares" placeholder="How Many">
            </div>

            <div class="col-auto">
                <button class="btn btn-primary" type="submit">Buy</button>
            </div>
        </form>
    </div>

{% endblock %}